* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

header {
  background-color: black;
  height: 280px;
}

/*Foto logo*/
.img-logo {
  width: 15rem;
}

.div-centrar-logo {
  display: flex;
  justify-content: center;
}

header div nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  list-style: none;
}
header div nav ul li a {
  text-decoration: none;
  color: aliceblue;
}

/*hasta aca tenes nesting ,import, y listas*/
header div nav div div ul li .hove:hover {
  background-color: rgb(218, 224, 224);
}

.titulos-principales {
  margin-top: 30px;
  margin-bottom: 30px;
}

footer {
  text-align: center;
  padding: 20px;
}

.div-main {
  padding: 1.5rem;
}

/*foto para celular del consultorio*/
.div-consultorio-celular {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

#consultorio-celular {
  width: 100%;
}

#consultorio-celular, .texto-descriptivo-consultorio {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  gap: 20px;
}

.texto-descriptivo-consultorio {
  height: 130px;
  margin-bottom: 7rem;
}

main {
  text-align: center;
}

.mapa {
  width: 100%;
}

.body-menu {
  background: linear-gradient(to right, white, rgb(201, 201, 201));
}

/*jannello.html*/
.body-jannello {
  background: linear-gradient(to right, white, #fff39b);
}

.imagen-jannello {
  width: 100%;
  margin-bottom: 50px;
}

/*fernandez.html*/
.body-fernandez {
  background: linear-gradient(to right, white, #f7e372);
}

.imagen-fernandez {
  width: 75%;
  height: 23.5rem;
}

#perfil-profesional-fernandez {
  margin-top: 3rem;
}

/*turnos.html*/
.body-turnos {
  background: linear-gradient(to right, white, #6d6ba1);
}

.main-turnos {
  height: 25rem;
}

.modifica-formulario {
  height: 50px;
  width: 190px;
  margin-left: 5.5rem;
}

/*preguntasf.html*/
.body-preguntas {
  background: linear-gradient(to right, white, #b7dddb);
}

.main-preguntas {
  text-align: left;
  padding: 10px;
  margin: 1rem;
}

.preguntas {
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 10px;
}

.respuesta-1 {
  margin-top: 5px;
  margin-left: 30px;
  font-weight: bold;
}

.preguntas-respuestas {
  margin-top: 30px;
  margin-bottom: 30px;
}

.imagen-instagram {
  margin-top: 1rem;
}

.whatsapp-icon {
  width: 9%;
  margin-top: 1rem;
}

@media screen and (min-width: 600px) {
  .menu {
    display: flex;
    justify-content: center;
    display: inline;
    margin-top: 2.5rem;
  }
  header div nav div div ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /*Menu Principal*/
  .div-main {
    padding: 3rem;
  }
  .texto-descriptivo-consultorio {
    margin-top: 2rem;
    font-weight: 300 bold;
  }
  /*jannello desktop*/
  /*fernandez desktop*/
  .imagen-fernandez {
    height: 900px;
    width: 45rem;
  }
  #perfil-profesional-fernandez {
    margin-top: 2rem;
  }
  /*turnos desktop*/
  .main-turnos {
    height: 25rem;
  }
  .modifica-formulario {
    margin-left: 41.5%;
  }
  /*Preguntas frecuentes desktop*/
  .main-preguntas {
    margin: 1rem;
  }
  /*footer desktop*/
  .whatsapp-icon {
    width: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
