$list-color:
black,
rgb(218, 224, 224);


//Background de colores para los distintos Body
$body-menu: rgb(201, 201, 201);
$body-jannello: #fff39b;
$body-fernandez: #f7e372;
$body-turnos: #6d6ba1;
$body-preguntas: #b7dddb;
